[submodule "src/darknet_ros"]
	path = src/darknet_ros
	url = https://github.com/leggedrobotics/darknet_ros.git
[submodule "src/aruco_eye"]
	path = src/aruco_eye
	url = https://github.com/joselusl/aruco_eye.git
[submodule "src/pugixml"]
	path = src/pugixml
	url = https://github.com/joselusl/pugixml.git
[submodule "src/perception_msgs"]
	path = src/perception_msgs
	url = https://github.com/joselusl/perception_msgs.git
[submodule "src/robot_component_srvs"]
	path = src/robot_component_srvs
	url = https://github.com/joselusl/robot_component_srvs.git
[submodule "src/simple_camera_publisher"]
	path = src/simple_camera_publisher
	url = https://github.com/ltu-ros/simple_camera_publisher.git
